*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li {
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position:relative;
}

nav ul li a::after{
    content:'';
    width:0;
    height:3px;
    background-color:#ff004f;
    position: absolute;
    left:0;
    bottom:1px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width:100%;

}

nav ul li a:active{
    background-color: greenyellow;

}

/* home section */

.title{
    text-align: center;
    color:aliceblue;
}
.intro{
    color: gray;
    margin-top:20px;
}

.head{
    padding-top: 10px;
    color:brown;
}


.home.head{
    transform:translate(20px,40px) ;
}
.image{
    height:600px;
    width: 100%;
}

            /* Skills Section */

#skills{
    padding: 5%;
    background: #e5e5e5;
}
#skills{
    margin-top: 6%;
    margin-bottom: 6%;
}
label{
    font-size: 20px;
}
.progress{
    height:30px;
    box-shadow: 2px 4px 5px gray, -2px -4px 5px white;
}

            /* form section */
form input{
    box-shadow: 2px 4px 5px gray, -2px -4px 5px white;
}
form textarea{
    box-shadow: 2px 4px 5px gray, -2px -4px 5px white;
}

